In [1]:
import pandas as pd
import numpy as np
import importlib   # Import the importlib module
import Create_Zoo
import random
import plotly.express as px
import datetime
import string
from datetime import timedelta

In [2]:
def glimpse(file_name):

    df = pd.read_csv(f'./data/{file_name}')

    print(f"\nFile {file_name}")
    print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

    n = df.shape[0] if df.shape[0] < 5 else 5
    df_random = df.sample(n=n, random_state=42, replace=False)

    for col in df_random.columns:
        print(f"{col:20}: {df_random[col].iloc[:4].tolist()}")

In [ ]:
files = ['Zoo-Zones.csv', 'Zoo-Enclosures.csv', 'Zoo-Animals.csv', 'Zoo-Staff.csv', 
         'Zoo-Budgets.csv', 'Zoo-Calendar.csv', 'Zoo-Invoices.csv',
         'Zoo-Visits.csv',]

files = ['Zoo-Budgets.csv', 'Zoo-Calendar.csv', 'Zoo-Invoices.csv',
         'Zoo-Visits.csv',]

for file in files:
    glimpse(file)

In [6]:
df_Enclosures = pd.read_csv('./data/Zoo-Enclosures.csv')
df_Animals = pd.read_csv('./data/Zoo-Animals.csv')

In [35]:
df_Enclosures = pd.read_csv('./data/Zoo-Enclosures.csv')
df_Animals = pd.read_csv('./data/Zoo-Animals.csv')

df_enc = df_Enclosures[['Enclosure_ID', 'Name', 'Zone', 'Animal']]
df_enc.columns = ['Enclosure_ID', 'Enclosure_Name', 'Zone', 'Animal']
df_animals = pd.merge(df_enc, df_Animals,  on='Enclosure_ID', how='outer').reset_index(drop=True)
df_animals['Enclosure'] = df_animals.apply(lambda row: f"{row['Enclosure_ID']} ({row['Enclosure_Name']})", axis=1)

list_images = [{'Enclosure_ID': '01/0001', 'pic':'./images/Penguin_Emperor.jpg'},
               {'Enclosure_ID': '01/0002', 'pic':'./images/Penguin_Gentoo.jpg'},
               {'Enclosure_ID': '01/0003', 'pic':'./images/Penguin_Humbolt.jpg'},
               {'Enclosure_ID': '01/0004', 'pic':'./images/Flamingo.jpg'},
               {'Enclosure_ID': '02/0006', 'pic':'./images/Lions.jpg'},
               {'Enclosure_ID': '02/0007', 'pic':'./images/Tigers.jpg'},
               {'Enclosure_ID': '02/0008', 'pic':'./images/Jaguar.jpg'},
               {'Enclosure_ID': '02/0009', 'pic':'./images/Lynx.jpg'},
               {'Enclosure_ID': '03/0011', 'pic':'./images/Lynx.jpg'},
               {'Enclosure_ID': '03/0012', 'pic':'./images/Lynx.jpg'},
               {'Enclosure_ID': '03/0013', 'pic':'./images/Lynx.jpg'},
               {'Enclosure_ID': '03/0014', 'pic':'./images/Lynx.jpg'},
               {'Enclosure_ID': '03/0015', 'pic':'./images/Lynx.jpg'},]

df_images = pd.DataFrame(list_images)
df_animals = pd.merge(df_animals, df_images, on='Enclosure_ID', how='left')

df_summary = df_animals.groupby(['Enclosure','pic' ,'Animal', 'SubSpecies']).agg(
    Number = ('Enclosure', 'size'),
    # Names=('Name', lambda x: [v for v in x if pd.notna(v)])
    Names=('Name', lambda x: ', '.join(str(v) for v in x if pd.notna(v)))
).reset_index()

df_summary

,Enclosure,pic,Animal,SubSpecies,Number,Names
0,01/0001 (Darwin),./images/Penguin_Emperor.jpg,Penguins,Emperor Penguin,10,
1,01/0002 (Wallace),./images/Penguin_Gentoo.jpg,Penguins,Gentoo Penguin,8,
2,01/0003 (Huxley),./images/Penguin_Humbolt.jpg,Penguins,Humbolt Penguin,6,
3,01/0004 (Audubon),./images/Flamingo.jpg,Flamingos,Flamingos,15,
4,02/0006 (Livingstone),./images/Lions.jpg,Lions,Lions,5,"Nala, Duke, Samson, Samson, Samson"
5,02/0007 (Bates),./images/Tigers.jpg,Tigers,Tigers,2,"Tyson, Tyson"
6,02/0008 (Humboldt),./images/Jaguar.jpg,Jaguars,Jaguars,2,"Tyson, Zeus"
7,02/0009 (VonFrisch),./images/Lynx.jpg,Lynx,Lynx,6,"Prince, Leo, Fang, Tyson, Simba, Zeus"
8,03/0011 (Leakey),./images/Lynx.jpg,Gorillas,Gorillas,3,"Kiki, Milo, Lola"
9,03/0012 (Goodall),./images/Lynx.jpg,Chimpanzees,Chimpanzees,7,"Lola, Kiki, Bella, Milo, Milo, Milo, Lola"
10,03/0013 (Fossey),./images/Lynx.jpg,Capuchins,Capuchins,4,"Lola, Max, Milo, Max"
11,03/0014 (Koehler),./images/Lynx.jpg,Orangutans,Orangutans,5,"Bella, Bongo, Milo, Max, Lola"
12,03/0015 (Zhou),./images/Lynx.jpg,Golden Snub-Nosed Monkeys,Golden Snub-Nosed Monkeys,6,"Bella, Lola, Charlie, Milo, Bongo, Bongo"

In [15]:
df_enc = df_Enclosures[['Enclosure_ID', 'Name', 'Zone', 'Animal']]
df_enc.columns = ['Enclosure_ID', 'Enclosure_Name', 'Zone', 'Animal']
df_animals = pd.merge(df_enc, df_Animals,  on='Enclosure_ID', how='outer').reset_index(drop=True)
df_animals

,Enclosure_ID,Enclosure_Name,Zone,Animal,Animal_ID,SubSpecies,Name,Age,Gender,Arrival_Date,Health_Status
0,01/0001,Darwin,Aquatic,Penguins,W-3572,Emperor Penguin,NaN,25.0,Male,2023-08-22,Under Treatment
1,01/0001,Darwin,Aquatic,Penguins,F-4289,Emperor Penguin,NaN,10.0,Male,2018-02-04,Under Treatment
2,01/0001,Darwin,Aquatic,Penguins,J-2915,Emperor Penguin,NaN,13.0,Female,2016-08-18,Healthy
3,01/0001,Darwin,Aquatic,Penguins,F-7308,Emperor Penguin,NaN,22.0,Male,2011-01-26,Under Treatment
4,01/0001,Darwin,Aquatic,Penguins,J-5889,Emperor Penguin,NaN,7.0,Female,2024-02-06,Healthy
...,...,...,...,...,...,...,...,...,...,...,...
76,03/0015,Zhou,Monkeys,Golden Snub-Nosed Monkeys,J-6346,Golden Snub-Nosed Monkeys,Lola,10.0,Male,2020-05-08,Under Treatment
77,03/0015,Zhou,Monkeys,Golden Snub-Nosed Monkeys,J-3610,Golden Snub-Nosed Monkeys,Charlie,18.0,Male,2023-04-29,Minor Issues
78,03/0015,Zhou,Monkeys,Golden Snub-Nosed Monkeys,A-4212,Golden Snub-Nosed Monkeys,Milo,25.0,Female,2008-04-27,Healthy
79,03/0015,Zhou,Monkeys,Golden Snub-Nosed Monkeys,J-2757,Golden Snub-Nosed Monkeys,Bongo,22.0,Male,2018-10-16,Healthy
80,03/0015,Zhou,Monkeys,Golden Snub-Nosed Monkeys,J-9437,Golden Snub-Nosed Monkeys,Bongo,1.0,Male,2024-02-01,Minor Issues

In [14]:
df_animals.dtypes

Enclosure_ID      object
Name_x            object
Zone              object
Animal            object
Animal_ID         object
SubSpecies        object
Name_y            object
Age              float64
Gender            object
Arrival_Date      object
Health_Status     object
dtype: object

In [28]:
df_animals.groupby(['Enclosure_ID', 'Enclosure_Name', 'Animal', 'SubSpecies']).agg(
    Number = ('Enclosure_ID', 'size'),
    # Names=('Name', lambda x: [v for v in x if pd.notna(v)])
    Names=('Name', lambda x: ', '.join(str(v) for v in x if pd.notna(v)))

).reset_index()

,Enclosure_ID,Enclosure_Name,Animal,SubSpecies,Number,Names
0,01/0001,Darwin,Penguins,Emperor Penguin,10,
1,01/0002,Wallace,Penguins,Gentoo Penguin,8,
2,01/0003,Huxley,Penguins,Humbolt Penguin,6,
3,01/0004,Audubon,Flamingos,Flamingos,15,
4,02/0006,Livingstone,Lions,Lions,5,"Nala, Duke, Samson, Samson, Samson"
5,02/0007,Bates,Tigers,Tigers,2,"Tyson, Tyson"
6,02/0008,Humboldt,Jaguars,Jaguars,2,"Tyson, Zeus"
7,02/0009,VonFrisch,Lynx,Lynx,6,"Prince, Leo, Fang, Tyson, Simba, Zeus"
8,03/0011,Leakey,Gorillas,Gorillas,3,"Kiki, Milo, Lola"
9,03/0012,Goodall,Chimpanzees,Chimpanzees,7,"Lola, Kiki, Bella, Milo, Milo, Milo, Lola"
10,03/0013,Fossey,Capuchins,Capuchins,4,"Lola, Max, Milo, Max"
11,03/0014,Koehler,Orangutans,Orangutans,5,"Bella, Bongo, Milo, Max, Lola"
12,03/0015,Zhou,Golden Snub-Nosed Monkeys,Golden Snub-Nosed Monkeys,6,"Bella, Lola, Charlie, Milo, Bongo, Bongo"